</main>
<footer class="footer has-background-grey-darker has-text-white-bis mt-6">
    <div class="container has-text-centered is-size-6">
        {% if site.footer_menu %}
        <ul class="mb-5">
            {% for item in site.data[site.footer_menu] %}
            <li>
              <a href="{{ item.link | relative_url }}" class="link">{{ item.name }}</a>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
        <div>
            <a href="{{ site.baseurl }}/" class="has-text-centered">
                <img src="{{ site.baseurl }}/img/biohackathon-logo-white.svg" width="100" title="{{ site.title }}" alt="BioHackathon logo">
             </a>
        </div>
</footer>
</div> 