<section id="content" class="hero {% if page.hero_height %} {{ page.hero_height }} {% else %} is-medium {% endif %} is-bold is-primary" {% if page.hero_image %} style="background: url('{{ page.hero_image }}') no-repeat center center; background-size: cover;background-position: top;" {% endif %}>
    <div class="hero-body {% if page.hero_darken %} hero-darken {% endif %}">
        <div class="container">
            <h1 class="title is-2">{{ page.title }}</h1>
            <p class="subtitle is-4">{{ page.subtitle }}</p>
            {% if page.reg_text %} <p>{{ page.reg_text }}</p> {% endif %}
            {% if page.hero_link %}
                <a href="{{ page.hero_link | relative_url }}" class="button is-warning is-size-5 mt-4">{{ page.hero_link_text }}</a>
            {% endif %}
        </div>
    </div>
</section>
