
<div class="block has-background-light p-4">
<p class="my-2 is-size-6"><strong>Please note:</strong> YouTube videos load cookies when you start playing them. Unfortunately we cannot stop this. Do not play the video if you do not want YouTube to set cookies in your browser. See the <a href="/privacy#youtube-videos-and-privacy">website privacy statement</a>.</p>
<figure class="image is-16by9 mt-4"> 
    <iframe class="has-ratio" 
        src="https://www.youtube-nocookie.com/embed/{{ include.video }}?start={{ include.time | default: 0 }}&showinfo=0" 
        frameborder="0" 
        allowfullscreen
        >
    </iframe>
</figure>
</div>